<!doctype html>
<html>
    <head>
        <% include ../partials/head.html %>
    </head>
    <body class="container">	
        <header>
            <% include ../partials/header.html %>
        </header>

        <main>
            <div class="jumbotron">
                <h3>My Feeds</h3>
            
            <div class="clearfix"></div>
            <div class="row">
                <% dash_photos.forEach(function(photo) { %>
                    <div class="col-sm-4 tab" >
                        <img src="<%= photo.image %>" alt="<%= photo.image %>">
                        <p class="caption"><%= photo.caption %></p>
                        <p class="uploaded_by">Uploaded  By: <%= photo.name %></p>
                        <p class="uploaded_on">Uploaded on: <%= photo.uploaded %></p>
                    </div>
                <% }); %>
            </div>
</div>
        </main>

        <footer>
            <% include ../partials/footer.html %>
        </footer>
    </body>
</html>
