<!doctype html>
<html>
    <head>
        <% include ../partials/head.html %>
    </head>
    <body class="container">	
        <header>
            <% include ../partials/header.html %>
        </header>

        <main>
            <div class="jumbotron">
                <h3>Hi <%= user_name %></h3>
                <p>Upload picture</p>
                <form id = "uploadForm" action = "uploadPhoto" method = "post">
                    <input type="hidden" name="image_path" id="image_path" />
                    <input type="file" name="userPhoto" id="userPhoto"/>
Caption : <textarea name= "caption" rows="5" cols="100" class="form-control"></textarea>
                    <input type="submit" value="Upload Image" name="submit" class="btn btn-success">
                    <div style="display: none" id = "status"></div>
                    <div class="error_form" style="display: none"></div>
                </form>
                <br><br>
                <div class="clearfix"></div>
                <h4><%= tot_photos %> Images uploaded by you.</h4><br>
                <div class="row">
                    <% photos_uploaded.forEach(function(photo) { %>
                        <div class="col-sm-4 tab" >
                            <img src="<%= photo.image %>" alt="<%= photo.image %>">
                            <p class="caption"><%= photo.caption %></p>
                            <p class="uploaded_on">Uploaded on: <%= photo.uploaded %></p>
                        </div>
                    <% }); %>
                </div>
            </div>
        </main>

        <footer>
            <% include ../partials/footer.html %>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        </footer>
    </body>
</html>
