<!doctype html>
<html>
    <head>
        <% include ../partials/head.html %>
    </head>
    <body class="container">	
        <header>
            <% include ../partials/header.html %>
        </header>

        <main>
            <div class="jumbotron">
                <h3>Active Users</h3>
                <div class="clearfix"></div>
                <div class="row">
                    <% arr_users.forEach(function(user) { %>
                        <div class="col-sm-2 tab" >
                        <a href="/user/<%= user.id%>" id="user_link"><%= user.name%></a>
                        </div>
                    <% }); %>
                </div>
            </div>
        </main>

        <footer>
            <% include ../partials/footer.html %>
        </footer>
    </body>
</html>
