<!doctype html>
<html>
    <head>
        <% include ../partials/head.html %>
    </head>
    <body class="container">	
        <header>
            <% include ../partials/header.html %>
        </header>

        <main>
            <div class="jumbotron">
                <h3><%= user_name %></h3>
                <% if(following){%>
                    <a href="javascript:void(0)" class="btn btn-danger unfollow" onclick="unfollow('<%= user_id %>')">Unfollow</a>
                <% }else{%>
                    <a href="javascript:void(0)" class="btn btn-success follow" onclick="follow('<%= user_id %>')">Follow</a>
                <% } %>
                <br><br>
                <div class="clearfix"></div>
                <h4><%= tot_images %> Images uploaded by <%= user_name %></h4><br>
                <div class="row">
                    <% user_data.forEach(function(photo) { %>
                        <div class="col-sm-4 tab" >
                            <img src="<%= photo.image %>" alt="<%= photo.image %>">
                            <p class="caption"><%= photo.caption %></p>
                            <p class="uploaded_on">Uploaded on: <%= photo.uploaded %></p>
                        </div>
                    <% }); %>
                </div>
            </div>
        </main>

        <footer>
            <% include ../partials/footer.html %>
        </footer>
    </body>
</html>
